@import "tailwindcss";

:root {
  --background: #f1f5f9; 
  --input-background: #ffffff;

  --button-background: #0f172a; 
  --button-background-hovered: #334155; 

  --text-primary: #1e293b;
  --text-secondary: #475569;
  --text-tertiary: #94a3b8;
  --text-quaternary: #ffffff;
  --text-muted: #64748b;
  
  --text-input: #1e293b; 
  --text-accent: #059669; 

  --available-primary: #059669;
  --available-secondary: #10b981;

  --navbar-transparency: 60%;
  --navbar-border-transparency: 25%;
}

@media (prefers-color-scheme: dark) { /* Dark Mode */
  :root {
    --background: #020617;
    --input-background: #0f172a;

    --button-background: #f1f5f9;
    --button-background-hovered: #cbd5e1;

    --text-primary: #f8fafc;
    --text-secondary: #94a3b8;
    --text-tertiary: #475569;
    --text-quaternary: #020617;
    --text-muted: #64748b;
    
    --text-input: #f8fafc;
    --text-accent: #10b981;

    --available-primary: #10b981;
    --available-secondary: #34d399;

    --navbar-transparency: 60%;
    --navbar-border-transparency: 15%;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-button-background: var(--button-background);
  --color-button-background-hovered: var(--button-background-hovered);
  --color-input-background: var(--input-background);

  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-tertiary: var(--text-tertiary);
  --color-quaternary: var(--text-quaternary);
  --color-muted: var(--text-muted);
  --color-accent: var(--text-accent);
  --color-input: var(--text-input);

  --color-available-primary: var(--available-primary);
  --color-available-secondary: var(--available-secondary);

  --opacity-navbar-transparency: var(--navbar-transparency);
  --opacity-navbar-border-transparency: var(--navbar-border-transparency);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}